@import '../../variables.scss';

.nav-bar {
    display: flex;

    width: 100%;

    background-color: $color-main;

    box-shadow: 0 0 1em 2em rgba(0, 0, 0, 0.1);

    padding: 1em;
}

.nav-bar__spacer {
    flex: 1 1 0;
}

.nav-bar__auth {
    flex: 0 0 auto;
}