.spotify-radio {
    float: left;

    display: flex;

    flex-direction: column;

    width: 100%;
    height: 100%;
}

.spotify-radio__nav {
    flex: 0 0 auto;
}

.spotify-radio__content {
     flex: 1 1 0;
}

